# Konfiguracja aplikacji
APP_NAME=WypozyczalniaPRO
APP_ENV=dev
APP_DEBUG=true

# Baza danych
DB_HOST=db
DB_PORT=5432
DB_NAME=wypozyczalnia
DB_USER=app
DB_PASSWORD=app_secret

# Sesja
SESSION_NAME=wpro_sid
SESSION_LIFETIME=3600
